<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/antipattern/detection/ArchSmellDetector.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.antipattern.detection.ArchSmellDetector"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-projfile cfg/linux-detailed-bunch-sahc.cfg -smellClassesFile /home/joshua/recovery/smell_detection/linux-detailed/techniques/linux-detailed_bunch_sahc_smells2classes.csv -detectedSmellsFile /home/joshua/recovery/smell_detection/linux-detailed/techniques/linux_bunch_sahc_smells.ser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
