/bin
data/
datasets/
logs/
.svn
*~
.DS_Store
.console.txt.swp
myextractors.jar

acdc_linux_mojo.csv
acdc_mojo.csv
archstudio-doc-topics.txt
archstudio4-180-doc-topics.txt
archstudio4_clean_ground_truth_recovery.rsf
archstudio4_deps (1).rsf
bash_outfile.csv
build.xml
data_june262012_0253am.tar.gz
find_java_files_with_forward_slash.sh
hadoop_outfile.csv
hs_err_pid18839.log
hs_err_pid2572.log
java_files_with_forward_slash.txt
linux_auth_recovery.gexf
linux_facts.rsf
linux_facts_without_scripts.rsf
myextractors_data_dir_files_only.tar
outfile.csv
root_ERROR.log

DriverEngine bash wca.launch.bak
MetricsDriver bash wca preselected.launch.bak
hs_err_pid10657.log
hs_err_pid14169.log
hs_err_pid14208.log
hs_err_pid14285.log
hs_err_pid14492.log
hs_err_pid14862.log
hs_err_pid14925.log
hs_err_pid16297.log
hs_err_pid20747.log
hs_err_pid20889.log
hs_err_pid20946.log
hs_err_pid21201.log
hs_err_pid4823.log
hs_err_pid6550.log
hs_err_pid6970.log
hs_err_pid7033.log
hs_err_pid9065.log
/tmp/
