project_name=archstudio4
lang=java
odem_file=/home/joshua/cda/archstudio4.odem
#ground_truth_file=/home/joshua/recovery/Expert Decompositions/hadoop-0.19.0/ivo_josh_recovery.txt
#ground_truth_file=/home/joshua/Downloads/hadoop-0.19.0-precertified-recovery.txt
#ground_truth_file=/home/joshua/recovery/Expert Decompositions/hadoop-0.19.0/final_recovery.txt
deps_rsf_file=/home/joshua/workspace/MyExtractors/data/archstudio4/archstudio4_deps.rsf
clustering_algorithm=arc
sim_measure=js
granule=file
preselected_range = 100,400,10
stop_criterion=preselected

topics_dir=/home/joshua/ser/subject_systems/archstudio4
numtopics_range= 100,100,10

selected_pkgs=edu.uci.isr.archstudio4

doc_topics_file=/home/joshua/Documents/Software Engineering Research/subject_systems/archstudio4/archstudio4-100-doc-topics.txt
#doc_topics_file=/home/joshua/workspace/MyExtractors/data/hadoop-0.19.0/topics/hadoop-0.19.0-40-doc-topics.txt
ground_truth_file=/home/joshua/Documents/Software Engineering Research/projects/recovery/Expert Decompositions/archstudio4/archstudio4_clean_ground_truth_recovery.rsf
smell_clusters_file=/home/joshua/workspace/MyExtractors/data/archstudio4/archstudio4_arc_preselected_js_140_clusters_100topics.rsf
