/ACDC.class
/BodyHeader.class
/ClusterLast.class
/DownInducer.class
/Edge.class
/FullOutput.class
/IO.class
/Inducer.class
/InputHandler.class
/Node.class
/OrphanAdoption.class
/OutputHandler.class
/Pattern.class
/RSFOutput.class
/Sortable.class
/SubGraph.class
/TAInput.class
/UpInducer.class
