project_name=linux
num_clusters=30
stop_criterion=preselected
#preselected_range = 250,800,50
#preselected_range = 10,100,10
preselected_range = 1,400,1
lang=c
#deps_rsf_file=/home/joshua/workspace/MyExtractors/linux_facts_without_scripts.rsf
deps_rsf_file=/home/joshua/workspace/acdc/linuxRel.rsf
clustering_algorithm=wca
sim_measure=uem
granule=file
#topic_keys_file=/home/joshua/workspace/cpp_func_separator/output/bash/bash-topic-keys.txt
#word_topic_counts_file=/home/joshua/workspace/cpp_func_separator/output/bash/bash-word-topic-counts.txt
#doc_topics_file=/home/joshua/workspace/cpp_func_separator/output/bash/bash-doc-topics.txt
topics_dir=/home/joshua/ser/subject_systems/linux
#numtopics_range= 750,750,50
numtopics_range= 250,250,50
#expert_decomposition_file = /home/joshua/recovery/Expert Decompositions/Bash expert decompositions.txt
#concern_recovery_file_prefix = /home/joshua/workspace/MyExtractors/data/bash/bash_
excluded_entities=drivers/sound/local.h,include/linux/compile.h